body.main{
    background-image: url("../img/body_background.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}
.container_tit{
    border-top: 60px solid transparent;
}
.chunk__background{
    width: 100%;
    min-height: 830px;
    overflow:hidden;
}
.header_content{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 3;
}
.header__logo{
    position: fixed;
    top: 0;
    left: 0;
}
.header__logo img{
    width: 70px;
}
.header__text-logo{
    text-align: center;
    position:absolute;
    left:0;
    right:0;
    top: 10px;
    color: #fff;
}
.chunk_posts.chunk__background{
    padding-bottom: 105px;
    background-color: purple;
}
.chunk_posts .chunk__content-hero{
    background-color: grey;
    margin: 150px 10px 0 10px;
    min-height: 200px;
}
.chunk_posts .chunk__content-posts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 40px;
}
.chunk_posts .chunk__post{
    background-color: white;
    height:150px;
    width: calc(100% - 20px);
    margin: 10px 10px 30px;
}
.chunk_features.chunk__background{
    background-color: #b0d4f1;
}

/* start hamburger menu */
.header__button-menu {
    position: fixed;
    top: 1%;
    right: 1%;
    height: 27px;
    width: 35px;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.25s ease;
}
.header__button-menu.active .top {
    transform: translateY(11px) translateX(0) rotate(45deg);
    background: #FFF;
}
.header__button-menu.active .middle {
    opacity: 0;
    background: #FFF;
}
.header__button-menu.active .bottom {
    transform: translateY(-11px) translateX(0) rotate(-45deg);
    background: #FFF;
}
.header__button-menu span {
    background: #1abc9c;
    border: none;
    height: 5px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.35s ease;
    cursor: pointer;
}
.header__button-menu span:nth-of-type(2) {
    top: 11px;
}
.header__button-menu span:nth-of-type(3) {
    top: 22px;
}
.header__menu {
    position: fixed;
    background: #ff294c;
    top: 0;
    left: 100%;
    height: 100%;
    width: 50%;
    overflow: hidden;
    transition:
            transform .1s cubic-bezier(.4,0,1,1),
            -webkit-transform .1s cubic-bezier(.4,0,1,1);
}
.header__menu-text_logo{
    text-align: center;
    position: relative;
    top: 10%;
}
.header__menu.open {
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
}
.header__menu.open li {
    animation: fadeIn .3s linear forwards;
    animation-delay: 0.2s;
}
.header__menu.open li:nth-of-type(2) {
    animation-delay: 0.24s;
}
.header__menu.open li:nth-of-type(3) {
    animation-delay: 0.28s;
}
.header__menu.open li:nth-of-type(4) {
    animation-delay: 0.32s;
}
.header__menu .header__menu-nav_menu {
    position: relative;
    top: 10%;
    font-size: 50px;
    font-weight: 400;
    text-align: center;
}
.header__menu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    width: 90%;
}
.header__menu ul li {
    display: block;
    height: 25%;
    height: calc(100% / 4);
    min-height: 50px;
    position: relative;
    opacity: 0;
    margin-top: 10px;
}
.header__menu ul li:first-child{
    margin-top: 0px;
}
.header__menu ul li a {
    display: block;
    position: relative;
    color: #FFF;
    text-decoration: none;
    overflow: hidden;
    font-size: 46px;
    transition: 0.3s;
    text-transform:uppercase;
    background-color:#000;
    padding:14px 20px;
    opacity:1;
    animation:fadeIn .3s linear forwards;
}
.header__menu-social_links{
    opacity: 0;
}
.header__menu.open .header__menu-social_links{
    display: block;
    width: 100%;
    position: absolute;
    bottom: 10%;
    animation: fadeIn .3s linear forwards;
    animation-delay: .4s;
    text-align: center;
}
.header__menu.open .header__menu-social_links .social-link{
    width: 50px;
    height: 50px;
    background-color: black;
    margin-right: 15px;
    margin-left: 15px;
    display: inline-block;
}
.no_scroll{
    overflow: hidden;
    margin-right: 15px;
}
.drop{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    background-color:rgba(0, 0, 0, 0.5);
    transition: all .1s;
}
.logo_drop{
    filter: brightness(50%);
    transition: all .1s;
}
@-webkit-keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%
    {
        opacity:1;
    }
}
@keyframes fadeIn {
    0% {
        opacity:0
    }
    100%{
        opacity:1
    }
}

/* end hamburger menu */

@media (min-width: 760px){
    .container_tit{
        border: 60px solid transparent;
    }
    .chunk__content{
        width: 400px;
        margin: auto;
    }
    .header__menu-social_links .social-link{
        margin-right: 20px;
        margin-left: 20px;
    }
}
@media (min-width: 960px){
    .header__menu.open{
        width: 50%;
    }

    .header__menu ul li a{
        font-size: 55px;
    }
    .container_tit{
        border-width: 80px;
    }
    .chunk__content{
        width: 520px;
        margin: auto;
    }
    .chunk_posts .chunk__content-posts{
        margin-top: 30px;
        width: 520px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .chunk_posts .chunk__post{
        width: calc((100%/3) - 20px);
    }
}
@media (max-width: 960px){
    .header__menu .header__menu-nav_menu{
        top: 5%;
    }
    .header__menu-text_logo{
        top:5%;
    }
}
@media (min-width: 1280px){
    .header__menu ul li a{
        font-size: 85px;
    }
    .chunk__content{
        width: 860px;
        margin: auto;
    }
    .chunk_posts .chunk__content-posts{
        margin-top: 40px;
        width: 860px;
    }
}
